<h1>Summaries#new</h1>

 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for Summaries</p>
     <ul>
       <li>Keep them punchy</li>
       <li>Keep them clean</li>
     </ul>
   </div>

   <div class="col-md-8">
      <%= form_for [@topic,@post,@summary] do |f| %>
        <div class ="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 2, class: "form-control", placeholder: "Enter Summary info" %>
        </div>
        <div class = "form-group">
          <%= f.submit "Save", class: "btn btn-success" %>
        </div>
      <% end %>
   </div>     
