<h1>About Bloccit</h1>
<p>Created by Anish Hallan</p>
<%= link_to "Facebook","https://www.facebook.com/anish.hallan", class: "social-btn" %>
</br>
<%= link_to "LinkedIn","https://www.linkedin.com/in/dbkho", class: "social-btn" %>
