<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Share what's trending</h2>
    <p>Bloccit will surface the content first.</p>
  </div>
  <div class="col-md-4">
    <h2>Spreads knowledge</h2>
    <p>Comment and learn more from others</p>
  </div>
  <div class="col-md-4">
    <h2>Help the community</h2>
    <p>Pay it forward</p>
  </div>
</div>